.container{
  margin:100px;
  padding: auto;
  width: 100%;
  border: 3px bold goldenrod;
  border-radius: 5px;
}
.question{
  text-align: center;
  font-size: 30px;
}

p, label{
  font-size: 40px;
  font-weight: bold;
}
input{
  margin-left: 40px;
  width: 200px;
  height: 30px;
  font-size: 20px;
}
span{
  background-color: pink;
  color: black;
  width: 30%;
  padding: 30px;
  font-size: 40px;
  text-align: center;
}
button{
  font-size: 20px;
  font-weight: bold;
  border: 2px bold grey;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
}
.buttons{
  display: inline-flex;
  flex-direction: row;
  margin: 50px;
}